env/
.env
decrypto_env/
deploy/__pycache__/
.idea/
tweepy_env/
deploy/deploy_resources/lambda_resources/lambda_layer_envs/
deploy/deploy_resources/lambda_resources/lambda_deployment_package/
data/
efs_layer_zips/
env_decrypto/
project_notes.txt

